@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

* {
  scrollbar-width: thin;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
}

html.is-scrolling * {
  scrollbar-color: rgb(156 163 175) transparent;
}

html.is-scrolling *::-webkit-scrollbar-thumb {
  background: rgb(156 163 175);
}

html.is-scrolling *::-webkit-scrollbar-thumb:hover {
  background: rgb(107 114 128);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Outfit', sans-serif;
}

@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-track: #a4a4a4;
  --color-plain: #f0f0f0;
  --color-surface-base: #ddf1e4;
  --color-black: #000000;
  --color-text-black: #000000;
  --color-neutral-10: #9aa09c;
  --font-outfit: 'Outfit', sans-serif;
  --background: #ffffff;
  --color-error: #ff6347;
  --color-error-bg: #fff0ed;
  --color-surface-error: #fff0ed;
  --color-border-error: #ff6347;
  --color-border: #e4e5e3;
  --color-hover: #eaeaea;
  --color-surface-hover: #9aa09c;
  --color-success: #22c55e;
  --color-surface-success: #eefcf3;
  --color-brand-green: #c6f135;
  --color-card: #e4e5e3;
  --color-warning: #ff8000;
  --color-success-bg: #eefcf3;
  --color-error-bg: #fff0ed;
  --color-glass: #e4e5e3;
  --color-placeholder: #6b706d;
  --color-market-success: #183123;
  --color-market-error: #341f20;
}

:root {
  color-scheme: light;
  color-scheme: light;
  --background: #ffffff;
  --gradient: #f0f2fa;
  --white: #ffffff;
  --black: #000000;
  --foreground: #171717;
}

.dark {
  color-scheme: dark;
  --background: #1d1d1d;
  --color-white: #1d1d1d;
  --color-black: #f5f6f5;
  --color-card: #16191a;
  --color-glass: #22262a;
  --color-border: #22262a;
  --color-hover: #22262a;
  --color-card: #16191a;
}
